:root {
  --white: #ffffff;
  --white50: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark50: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-family: OpenSans;
  font-weight: 400;
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: OpenSans;
  font-weight: 700;
  src: url('../assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: Neucha;
  src: url('../assets/fonts/Neucha-Regular.ttf');
}

/*---------------- Общие стили ----------------*/

body {
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1,
h2,
h3 {
  font-family: Neucha, serif;
  font-weight: 400;
  line-height: 1.2em;  
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.max-w {
  margin: 0 auto;
  width: 1110px;
}

.p-100 {
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.m-0 {
  margin: 0;
}

.ml-30 {
  margin-left: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.orange {
  color: var(--primary);
}

.dark {
  color: var(--dark);
}

.brown {
  color: var(--brown);
}

.white {
  color: var(--white);
}

.bg-brown {
  background-color: var(--brown);
}

.bg-white {
  background-color: var(--white);
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.col-2 {
  height: 186px;
  column-count: 2;
  column-gap: 30px;
}

.col-2 p {
  break-inside: avoid;
}

.col-2 p:nth-child(1) {
  margin-top: 0;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.f-wrap {
  flex-wrap: wrap;
}

.bg-image::before {
  position: absolute;
  top: 0px;
  left: -165px;

  display: block;
  width: 1440px;
  height: 100%;
  
  background-image: url(../assets/images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.1;

  z-index: -1000;

  content: ''; 
}

.bg-color::after {
  position: absolute;
  top: 0px;
  left: -165px;

  display: block;
  width: 1440px;
  height: 100%;
  
  z-index: -1100;

  content: '';  
}

.bg-color-light::after {
  background-color: var(--light);
}

.text-center {
  text-align: center;
}

.text-content {
  margin-bottom: 0;

  /* break-inside: avoid; */
}

/*---------------- Секция header ----------------*/

.header-section {
  position: relative;

  height: 914px;
}

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;

  z-index: -10;
}

.header-text-block {
  margin-top: 185px;
  padding-top: 0.9em;
  position: relative;
}

.header-btn {
  position: absolute;
  margin-top: 40px;
  padding: 12px 24px;

  display: inline-block;
  box-sizing: border-box;
  width: 148px;
  height: 49px;

  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--white);
  background-color: var(--primary);
}

/*---------------- Секция video ----------------*/

.video-section {
  height: 814px;
}

.video-section p {
  margin-top: 27px;
}

.video-block {
  margin-top: 30px;
}

.video-content {
  margin: 0 auto;

  display: block;
 
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/*---------------- Секция menu ----------------*/

.menu-section {
  padding-top: 200px;

  position: relative;
  height: 991px;
}

.menu-bg::after {
  height: 991px;

  background-color: var(--primary-dark);
  
  content: '';  
}

.menu-block-top {
  margin-bottom: 20px;
  height: 323px;
}

.menu-block-bot {
  height: 348px;
}

.menu-header {
  width: 350px;
  height: 323px;

  font-family: Neucha, serif;
  font-size: 52px;
  line-height: 62.4px;
  color: var(--white);
}

.menu-card {
  padding: 24px;

  display: block;
  width: 350px;
  box-sizing: border-box;

  text-decoration: none;

  background-color: var(--light);
}

.menu-card:hover {
  background-color: var(--primary);
}

.menu-card:hover p,
.menu-card:hover h3 {
  color: var(--white);
}

.menu-number {
  margin-top: 0;
  margin-bottom: 40px;

  font-family: Neucha, serif;
  font-size: 64px;
  line-height: 1;
  color: var(--primary-dark);
}

.mt-12 {
  margin-top: 12px;
}

/*------------------ Контентные секции ------------------*/

.cog-bias {
  font-family: Neucha, serif;
  font-size: 24px;
  color: var(--dark50);
}

.content-term {
  margin-top: 30px;

  font-family: Neucha, serif;
  font-size: 34px;
  line-height: 1.2;
}

.subheader {
  margin: 100px 0 20px;
  padding: 6px 0px 4px 10px;

  font-family: OpenSans, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

/*------------------ Эффект ИКЕА ------------------*/

.ikea-section {
  height: 905px;
  position: relative;
}