:root {
  --white: #fff;
  --white50: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark50: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 400;
  font-family: OpenSans;
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: OpenSans;
  src: url("../assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

/* ---------------- Общие стили ---------------- */

body {
  color: var(--dark);
  font-size: 16px;
  font-family: OpenSans, sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  font-weight: 400;
  font-family: Neucha, serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.max-w {
  width: 1110px;
  margin: 0 auto;
}

.p-100 {
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 100px;
}

.m-0 {
  margin: 0;
}

.ml-30 {
  margin-left: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.orange {
  color: var(--primary);
}

.dark {
  color: var(--dark);
}

.brown {
  color: var(--brown);
}

.white {
  color: var(--white);
}

.dark50 {
  color: var(--dark50);
}

.white50 {
  color: var(--white50);
}

.bg-brown {
  background-color: var(--brown);
}

.bg-white {
  background-color: var(--white);
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.col-2 {
  height: 186px;

  column-count: 2;
  column-gap: 30px;
}

.col-2 p {
  break-inside: avoid;
}

.video-section p {
  margin-top: 27px;
}

.col-2 p:nth-child(1) {
  margin-top: 0;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.f-wrap {
  flex-wrap: wrap;
}

.bg-image::before {
  position: absolute;
  top: 0;
  left: -165px;
  z-index: -1000;

  display: block;
  width: 1440px;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.bg-color::after {
  position: absolute;
  top: 0;
  left: -165px;
  z-index: -1100;

  display: block;
  width: 1440px;
  height: 100%;

  content: "";
}

.bg-color-light::after {
  background-color: var(--light);
}

.bg-color-brown::after {
  background-color: var(--brown);
}

.text-center {
  text-align: center;
}

.text-content {
  margin-bottom: 0;

  /* break-inside: avoid; */
}

/* ---------------- Секция header ---------------- */

.header-section {
  position: relative;

  height: 914px;
}

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: -10;

  height: 525px;
}

.header-text-block {
  position: relative;

  margin-top: 185px;
  padding-top: 0.9em;
}

.header-btn {
  position: absolute;

  display: inline-block;
  box-sizing: border-box;
  width: 148px;
  height: 49px;
  margin-top: 40px;
  padding: 12px 24px;

  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--primary);
}

/* ---------------- Секция video ---------------- */

.video-section {
  height: 814px;
}

.video-block {
  margin-top: 30px;
}

.video-content {
  display: block;
  margin: 0 auto;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* ---------------- Секция menu ---------------- */

.menu-section {
  position: relative;

  height: 991px;
  padding-top: 200px;
}

.menu-bg::after {
  height: 991px;

  background-color: var(--primary-dark);

  content: "";
}

.menu-block-top {
  height: 323px;
  margin-bottom: 20px;
}

.menu-block-bot {
  height: 348px;
}

.menu-header {
  width: 350px;
  height: 323px;

  color: var(--white);
  font-size: 52px;
  font-family: Neucha, serif;
  line-height: 62.4px;
}

.menu-card {
  display: block;
  box-sizing: border-box;
  width: 350px;
  padding: 24px;

  text-decoration: none;

  background-color: var(--light);
}

.menu-card:hover {
  background-color: var(--primary);
}

.menu-card:hover p,
.menu-card:hover h3 {
  color: var(--white);
}

.menu-number {
  margin-top: 0;
  margin-bottom: 40px;

  color: var(--primary-dark);
  font-size: 64px;
  font-family: Neucha, serif;
  line-height: 1;
}

.mt-12 {
  margin-top: 12px;
}

/* ------------------ Контентные секции ------------------ */

.cog-bias {
  font-size: 24px;
  font-family: Neucha, serif;
}

.content-term {
  margin-top: 30px;

  font-size: 34px;
  font-family: Neucha, serif;
  line-height: 1.2;
}

.subheader {
  margin: 100px 0 20px;
  padding: 6px 0 4px 10px;

  font-family: OpenSans, sans-serif;
  line-height: 1.2;
  text-transform: uppercase;
}

/* ------------------ Эффект ИКЕА ------------------ */

.ikea-section {
  position: relative;
}

/* ------------------ Преждевременная оптимизация ------------------ */

.premature-optimization {
  position: relative;
}

/* ------------------ Искажение новизны ------------------ */

.distortion-of-novelty {
  position: relative;
}

/* ------------------ Гиперболическое обесценивание ------------------ */

.hyperbolic-depreciation {
  position: relative;
}

/* ------------------ Ошибка планирования ------------------ */

.errors-in-planning {
  position: relative;
}

